body,h1,h3,p{
    display: block;
}
body{
    background-image: url(../images/constructive-backdrop.jpg);
    background-size: 100% 750px;
}

.wrapper{
    width: 320px;
    height: 330px;
    background-color: white;
    border: 1px solid gainsboro;
    margin: 40px 0 0 40px;
}
h1{
    text-indent: -9999px;
    height: 175px;
    background-image: url(../images/constructive-logo.gif);
    background-repeat: no-repeat;
    margin: 0;
}
h3{
    text-align: center;
    padding: 0 20px 0 20px;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
p{
    font-size: 50%;
}