.main-container {
    overflow: hidden;
}
.clear {
    clear: both;
}

.main-header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.45) 0px, transparent 100%);
}
.menu_affix {
    position: relative;
}
.main-menu_container {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 25px 0;
}
.menu-tr {
    display: table-row;
}
.logo-container {
    width: 90px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.site-logo {
    text-align: left;
    font-size: 0;
    line-height: 0;
}
.site-logo a {
    display: inline-block;
}
.site-logo img {
    max-width: 90px;
    height: auto;
}
.vu_d-td {
    display: table-cell;
}
.main-menu {
    font-size: 14px;
    float: none;
    vertical-align: middle;
}
.main-menu .menu-list {
    position: static;
}
.main-menu ul {
    overflow: inherit;
    text-align: center;
    margin-bottom: 0;
    display: inline-block;
    transition: all .3s ease-out;
}
.main-menu ul li {
    position: relative;
    display: inline-block;
}
.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.main-menu > ul > li > a {
    padding: 7px 17px;
    margin: 0;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
}
.menu-right {
    padding-left: 20px;
}
.menu-left {
    padding-right: 20px;
}
.list-style {
    padding-left: 0;
    list-style: none;
}
.text-right {
    text-align: right;
}
.menu-icons {
    font-size: 2rem;
    color: var(--white-color);
    padding: 0 20px;
}

.changeb {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 15px rgba(0 0 0 / 15%);
    background: rgba(255, 255, 255, 0.95);
    transition: background-color 0.5s ease-out;
}
.changeb a {
    color: var(--text-color);
}
#menu-btn {
    display: none;
}
.header-active {
    font-weight: 600;
    color: var(--primary-color) !important;
}
.nav-menu{
    display: none;
}
.page-color-text a {
    color: var(--text-color) ;
}

/* Footer */
.footer-section {
    background-color: #353535 !important;

}
.footer-container {
    width: 100%;
    position: relative;
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: normal;
    color: var(--text-color);
}
.footer-top {
    width: 100%;
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}
.footer-heading {
    font-size: 1.6rem;
    color: var(--white-color);
    margin-bottom: 20px;
    padding: 40px 0 20px;
}
.block-footer a:hover {
    color: var(--primary-color);
}
.time-open span {
    color: #a9aaa9;
}
.block-footer {
    width: 20%;

}
.block-footer .small-text {
    display: block;
    margin-bottom: 8px;
    color: #a9aaa9;
}
.block-footer .hotline  {
    color: #a9aaa9;
}
.hotline a {
    color: var(--white-color);
    font-weight: 500;

}
.paymet-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    height: 111px;
    width: 190px;
    list-style-type: none;
}
.paymet-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.4375rem;
    height: 1.8125rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.footer-background {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/3ce17addcf90b8cd3952b8ae0ffc1299.png);
}
.footer-vn-visa-png {
    background-size: 1203.6363636363637% 1194.4444444444443%;
    background-position: 100% 44.16243654822335%;
}
.footer-vn-mastercard-png {
    background-size: 1203.6363636363637% 741.3793103448276%;
    background-position: 63.26194398682043% 54.83870967741935%;
}
.footer-vn-jcb-png {
    background-size: 1203.6363636363637% 934.7826086956521%;
    background-position: 63.26194398682043% 30.729166666666668%;
}
.footer-vn-amex-png {
    background-size: 1324% 977.2727272727273%;
    background-position: 1.6339869281045751% 5.181347150259067%;
}
.footer-vn-vn_cod_footer-png {
    background-size: 1324% 741.3793103448276%;
    background-position: 99.50980392156863% 5.376344086021505%;
}
.icon-footer-follow {
    font-size: 2.5rem;
    padding: 0 5px;
    color: var(--white-color);
}
.icon-footer-follow:hover {
    color: var(--primary-color);
}
.icon-footer-list a {
    color: #555555;
}
.icon-footer-follow:first-child {
    padding: 0 10px 0 0;
}
.footer-separate {
    width: 1280px;
    content: "";
    height: 1px;
    background-color: rgb(235, 235, 240);
    margin-right: auto;
    margin-left: auto;
}
.footer-address {
    color: #a9aaa9;
    margin: 30px 15px;
}

<<<<<<< Updated upstream
.menu-item .menu-icons .fa-bars {
    display: none;
}


@media only screen and (max-width:1023px) {
    .main-menu .nav-items {
        display: none;
    }

    .menu-icons .shopping-none {
        display: none;
    }

    .menu-tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-item i {
        font-size: 22px;
    }

    .menu-item .menu-icons .fa-bars {
        display: block;
    }
=======
.heading-section {
    padding: 40px 0 20px;
}
#owl-demo {
    padding-bottom: 40px;
}
#owl-demo .item img{
    object-fit: cover;
    max-width: 100%;
}
#owl-demo .item {
    background: #fff;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
>>>>>>> Stashed changes
}