

@keyframes modalFadeIn {
    from {
        transform: translateY(50px);
        opacity: 0.1;
        font-size: 10px;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.wrape {
    display: flex;

}
.title_wrape_left h5 {
    font-size: 20px;
    margin-top: 12px;
    margin-left: 15px;

}
.title_wrape_left {
    font-family: monospace;
    font-size: 20px;
    width: 550px;
    height: 50px;
    margin-left: 150px;
    margin-top: 50px;
    background-color: #e6e6e6;
    
}


.title_wrape_right {
    font-family: monospace;
    font-size: 20px;
    width: 550px;
    height: 50px;
    margin-top: 50px;
    margin-left: 150px;
    background-color: #e6e6e6;

}
.accordion {
    background-color: white !important;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid black;
    font-weight: bold;
   
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-top: 30px;
    text-align: center;
}
.body_page_left {
    font-size: 15px;
    margin-left : 150px ;
    width: 550px;
}
.body_page {
    display: flex;
    margin: 20px 0 70px;
    
}
.body_page_right {
    width: 550px;
    font-size: 15px;
    margin-left: 150px;
}
p {
    font-family: monospace;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
